<!DOCTYPE html>
<html>
<head>
    <title>fatebyte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
    <marquee style="background-color: pink; color: black; font-family: Arial, sans-serif; font-size: 20px; padding: 15px; border-radius: 5px; font-weight: bold;"> 
    check your faith bestiee 😉

    </marquee>

    <h1 style= "color : white">🔮 Fortune Generator</h1>

    <p style= "color : white">tap in bestie to see if you are cooked or cooking</p>

    <button onclick="getFortune()">Get My Fortune</button>

    <h2 id="fortune"></h2>

    <script>
        function getFortune() {
            fetch("/fortune")
                .then(response => response.json())
                .then(data => {
                    document.getElementById("fortune").innerText = data.fortune;
                });
        }
    </script>

</body>
</html>
